# Archivos de build
Dockerfile
.dockerignore

# Dependencias pesadas y generadas
node_modules
.next

# Archivos de control y VCS
.git
*.log
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Archivos locales / tests
local-*
test
README.md
